.side-nav-toggler {
  border: 0.5px solid $white;
  border-radius: 0.5rem !important;
  padding: 0.5rem 0.8rem;

  background-color: transparent;

  font-size: 1.7rem;

  .icon {
    color: $white;
  }
}
